.capabilities {
  position: relative;
  z-index: 2;
  padding-top: $padding--section-default;
  padding-bottom: $padding--section-default;

  @include breakpoint-down(md) {
    padding-top: $padding--section-default-mobile;
    padding-bottom: $padding--section-default-mobile;
  }

  html[data-theme=dark] & {
    color: $text-color--light !important;
  }

  &__title {
    width: 700px;
    text-align: center;
    margin: 0 auto;

    @include breakpoint-down(md) {
      width: 100%;
    }
  }

  &__content {
    margin-top: $margin--section-content-default;

    @include breakpoint-down(md) {
      margin-top: $margin--section-content-default-mobile;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: $margin--section-content-default;

      @include breakpoint-down(md) {
        margin-top: $margin--section-content-default-mobile;
      }
    }

    &-content {
      &-title {
        font-size: $font-size--lg;
        line-height: 140%;

        @include breakpoint-down(md) {
          font-size: $font-size--lg-mobile;
        }
      }

      &-description {
        font-size: $font-size--md;
        line-height: 140%;

        @include breakpoint-down(md) {
          font-size: $font-size--md-mobile;
        }
      }
    }

    &-image {
      img {
        width: 100%;
        border-radius: 15px;
        box-shadow: $box-shadow--card;
      }
    }
  }
}