.list {
  &--primary {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    img {
      margin-bottom: auto;
    }
  }

  &__features {
    li {
      margin-top: 20px;
    }

    &-description {
      font-size: 20px;
      @include breakpoint-down(md) {
        font-size: 14px;
      }
    }

    &-image {
      &-wrapper {
        min-width: 33px !important;
        width: 33px !important;
        height: 33px !important;
        img {
          max-width: 90%;
          max-height: 90%;
        }
        @include breakpoint-down(md) {
          min-width: fit-content !important;
        }
      }
    }
  }
}
