.who {
  padding-top: $padding--section-default;
  padding-bottom: $padding--section-default;

  @include breakpoint-down(md) {
    padding-top: $padding--section-default-mobile;
    padding-bottom: $padding--section-default-mobile;
  }

  html[data-theme=dark] & {
    color: $text-color--light !important;
  }

  &__title {
    text-align: center;
    margin: 0 auto;
  }

  &__content {
    margin-top: $margin--section-content-default;

    @include breakpoint-down(md) {
      margin-top: $margin--section-content-default-mobile;
    }
  }

  &__item {
    &-content {
      &-description {
        &-wrapper {
          margin-top: 35px;

          @include breakpoint-down(md) {
            margin-top: 16px;
          }
        }
      }
      &-icon {
        text-align: center;
      }
    }
  }
}