@import '../../styles/mixins';
@import '../../styles/variables';

@keyframes blinker {
  50% {
    opacity: .3;
  }
}

.hero {
  width: 100% !important;
  overflow-x: hidden !important;
  position: relative;
  padding-bottom: $padding--section-default;

  @include breakpoint-down(md) {
    padding-bottom: 0;
  }

  html[data-theme='dark'] & {
    color: $text-color--light !important;
  }

  &__background-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 52vw;

    @include breakpoint-down(md) {
      width: 50vw;
    }

    img {
      position: relative;
      right: 0;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-top: $margin--section-content-default;

    @include breakpoint-down(md) {
      margin-top: 0;
    }

    &-description {
      font-size: 20px;
      opacity: 0.7;
    }

    &-text {
      &-wrapper {
        @include breakpoint-down(md) {
          margin-top: 10px;
        }
      }
    }

    &-image2 {
      position: absolute;
      animation: blinker 1s ease infinite;
    }

    &-image {
      &-wrapper {
        text-align: center;
      }

      @include breakpoint-down(md) {
        max-width: 100%;
        margin: 0 auto;
      }
    }

    &-actions {
      margin-top: 50px;

      @include breakpoint-down(md) {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
      }

      &-description {
        margin-bottom: 0;
      }

      &-wrapper {
        @include breakpoint-down(md) {
          text-align: center;
          margin-top: $margin--section-content-default-mobile;
          padding: 10px;
        }
      }
    }

    &-tryit-btn {
      width: 300px;

      @include breakpoint-down(md) {
        width: 160px;
      }
    }

    &-bloger-btn {
      @include breakpoint-down(md) {
        width: 70%;
        margin: 0 !important;
      }
      &:first-child {
        @include breakpoint-down(md) {
          margin-right: 10px !important;
        }
      }
      &:last-child {
        @include breakpoint-down(md) {
          margin-left: 10px !important;
        }
      }
    }

    &-more-link {
      margin-left: 50px;

      @include breakpoint-down(md) {
        margin-left: 15px !important;
      }
    }
  }

  &__features {
    &-wrapper {
      @include breakpoint-up(md) {
        margin-top: 20px;
      }
    }
    &-item {
      max-width: 280px;

      &-description {
        @include breakpoint-down(md) {
          font-size: 12px;
          line-height: 140%;
        }
      }

      @include breakpoint-down(md) {
        margin-left: 0 !important;
        max-width: 180px;
      }
    }
  }
}
