@import '../../styles/mixins';
@import '../../styles/variables';

.team {
  padding-top: $padding--section-default;
  padding-bottom: $padding--section-default;

  @include breakpoint-down(md) {
    padding-top: $padding--section-default-mobile;
    padding-bottom: $padding--section-default-mobile;
  }

  html[data-theme='dark'] & {
    color: $text-color--light !important;
  }

  &__title {
    text-align: center;
    margin: 0 auto;
    width: 500px;

    @include breakpoint-down(md) {
      width: 298px;
    }
  }

  &__content {
    margin-top: $margin--section-content-default;

    @include breakpoint-down(md) {
      margin-top: $margin--section-content-default-mobile;
    }
  }

  &__items {
    max-width: 900px;

    @include breakpoint-down(md) {
      width: 95%;
    }
  }

  &__item {
    &-wrapper {
      padding: 15px;
      padding-left: 60px;

      @include breakpoint-down(md) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    max-width: 360px;

    &-image {
      img {
        margin: 0 auto;
        @include breakpoint-down(md) {
          max-width: 252px;
        }
      }
    }
  }
}
